/target
/.springBeans
/.settings
/src/main/resources/rebel.xml
/bin
/.gradle
/build
src/main/webapp/WEB-INF/web.xml
*.orig
/nodejs
/src/main/webapp/resources/scripts
/node_modules
/src/main/webapp/resources/js/templates.js
.factorypath
widget/gadgets/
widget_converter/gadgets/
/build
logLocation_IS_UNDEFINED
work
src/main/webapp/resources/css/start.css
src/main/webapp/resources/js/SearchTemplates.js
src/main/webapp/resources/js/vendor/
widget_converter/classes/
widget_converter/templates/
/src/main/webapp/resources/optimized
/src/main/resources/properties/version.properties
statLogLocation_IS_UNDEFINED
/src/main/webapp/resources/css
/src/main/resources/static/build/**
/src/main/resources/static/js/templates.js
/src/main/resources/static/js/SearchTemplates.js
/src/main/resources/static/processing/**
/.idea
*.iml
*.eml
*.classpath
*.project